@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px 4px black;
    color: white;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
    margin: 10px;
}

.do-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    margin: 0 auto;
}

.content {
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    padding: 30px;
    margin: 30px;
    box-shadow: 1px 1px 2px black;

}

a {
    color: white;
}