/* ========== Text Styles ========== */

hr {
	color: #000000
}

body, table
/* Font Style - Общий стиль на весь текст*/

	{
	font-size: 14pt;
	font-family: 'Times New Roman', 'Times', serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.1;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	overflow-x: hidden;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 6pt auto;
}

tr, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	font: 12pt Times New Roman;
	padding-left: 3px;
	padding-right: 3px;
}

th {
	font-weight: bold;
	text-align: center;
}

td {
	vertical-align: top;
}

#table {
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: -5px;
}

#images {
	text-align: center;
	/*font-style: italic;*/
	margin-top: 0px;
	margin-bottom: 15px;
}

.img {
	margin: 10px auto 0 auto;
	display: block;
}

p {
	text-indent: 40px;
	margin-top: 2px;
	margin-bottom: 0px;
}

ol, ul {
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 25px;
}

ol li, ul li {
	margin: 0;
	padding-left: 10px
}

body {
	/* Фоновая заливка правой части*/
	background-image: url(../img/background.png);
}

div#page-content-wrapper {
	/* Отступ для кнопок вперед-назад */
	margin-left: 70px;
	margin-right: 70px;
}

#vp {
	/*Общий стиль у кнопок*/
	top: 45%;
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	background-color: rgba(40, 40, 40, 1);
	font: 32pt Times New Roman white;
	text-align: center;
	line-height: 1;
}

.kvl {
	/* Кнопка влево */
	left: 10px;
	/* положение слева на 10px */
}

.kvp {
	/* Кнопка вправо */
	right: 10px;
	/* положение справа на 10px */
}

A#vp:link {
	text-decoration: none;
	color: white;
}

A#vp:visited {
	text-decoration: none;
	color: white;
}

A#vp:active {
	text-decoration: none;
}

A#vp:hover {
	color: slateblue;
	/* Цвет кнопок влево вправо при наведении */
}

a {
	color: darkgreen;
	text-decoration: none;
}

a:hover {
	color: rgb(71, 150, 51);
	text-decoration: underline;
}

/* титульная страница*/

#titulnik {
	vertical-align: center;
}

#kafedra {
	margin-top: 20px;
	font-style: italic;
	text-align: center;
	font-size: 14pt;
	text-indent: 0px;
}

#avtor {
	margin-top: 30px;
	text-align: center;
	text-indent: 0px;
	font-weight: bold;
	font-size: 16pt;
}

#nazvanie {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	text-indent: 0px;
	font-size: 24pt;
	font-weight: bold;
	text-transform: uppercase;
}

#VidEY {
	margin-top: 30px;
	text-align: center;
	text-indent: 0px;
}

#udk {
	text-indent: 0px;
	text-indent: 1.0;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1, h2, h2, h4 {
	font-family: 'Times New Roman', 'Times', serif;
	font-weight: bold;
}

h1, h2 {
	font-size: 20pt;
	text-align: center;
}

h3, h4 {
	line-height: 1.0;
}

h1 {
	/* Стиль заголовка h1, применяется в основном на титульнике */
	line-height: 1.5;
}

h2 {
	/* Стиль заголовка h2, применяется в основном для названий глав на страницах */
	line-height: 1.1;
	margin-bottom: 5px;
}

h3 {
	/* Стиль заголовка h3, применяется в основном для подразделов на страницах */
	text-align: center;
	font-size: 16pt;
}

h4 {
	/* Стиль заголовка h4, применяется в основном для подразделов на страницах */
	text-align: left;
	margin-bottom: 5px;
	margin-top: 15px;
	text-indent: 40px;
	font-size: 14pt;
}

#imgtext {
	text-align: center;
	margin-bottom: 5px;
	margin-top: 15px;
	text-indent: 0px;
	font-size: 14pt;
}

#kursivcenter {
	text-indent: 0px;
	text-align: center;
	font-style: italic;
	margin-bottom: 5px;
	margin-top: 15px;
	padding-bottom: 5px;
}

#textcenter {
	text-indent: 0px;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#textleft {
	text-indent: 0px;
	text-align: left;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#otstup {
	margin-top: 20px;
}

#tema1 {
	/* прописные буквы по центру, жирное начертание*/
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-indent: 0px;
	text-decoration: underline;
	margin-top: 20px;
}

#tema2 {
	/* прописные буквы по центру, жирное начертание*/
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	text-indent: 0px;
}

#tema3 {
	/* прописные буквы выравнивание слева, жирное начертание*/
	font-size: 14pt;
	font-weight: bold;
	margin-top: 20px;
	text-transform: uppercase;
	text-indent: 80px;
}

#tema4 {
	/* прописные буквы по центру, нежирные*/
	font-size: 14pt;
	margin-top: 20px;
	text-indent: 0px;
	text-transform: uppercase;
	text-align: center;
}

#imgtable {
	border: 0px solid black;
	border-collapse: collapse;
	margin: 5px auto;
}

#imgtable tr, #imgtable td, #imgtable th {
	border: 0px solid black;
	border-collapse: collapse;
	font: 12pt Times New Roman;
	padding: 1px 3px;
}

a.rollover {
	background: url(../img/t1.3-3.png);
	/* Путь к файлу с исходным рисунком  */
	display: block;
	/*  Рисунок как блочный элемент */
	width: 36px;
	/* Ширина рисунка */
	height: 87px;
	/*  Высота рисунка */
}

a.rollover:hover {
	background: url(../img/t1.3.png);
	/* Путь к файлу с заменяемым рисунком  */
}

.pers {
	font-size: 10pt;
	background-color: rgba(40, 40, 40, 0.2);
	margin: 20px;
	padding: 20px;
}

.text-vertical {
	/*
	font: 16px Georgia, Serif;
	background: #369;
	color: #fff;*/
	text-align: center;
	font-weight: 600;
	padding: auto;
	float: left;
	margin: 0 10px 0 0;
	vertical-align: bottom;
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
}

.text-vertical {
	/* Для разных браузеров */
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}