/* Menu Style Sheet */

.Menu
{
	background-color:rgba(40,40,40,1);
	font-family: Verdana;
	cursor: pointer;
	font-size: 12px;
	color : white;	
}

MenuItem,MenuItemSelected,MenuItemActive,MenuItemHover, A:link,A:active,A:hover,A:visited
{
	text-decoration : none;
	color : white;
}

A:hover
{
	text-decoration : underline;
}

A:active
{
	color : #132FA3;
}



.MenuItem
{
	cursor: pointer;
	cursor: hand;
	background-color: inherit;	
}

.MenuItemSelected
{
	cursor: pointer;
	cursor: hand;
	background-color:rgba(40,40,40,1);
	color : #7898B5;
}

.MenuItemActive
{
	cursor: pointer;
	cursor: hand;
	background-color:rgba(40,40,40,1);
}

.MenuItemHover
{
	cursor: pointer;
	cursor: hand;
	background-color:rgba(40,40,40,1);
	text-decoration : underline;
}

.SubMenu
{
	display: none;
}
